*{
    font-family: 'Baloo Bhai 2', cursive;
}
/* navbarcss */
#navbar{
    display:flex;
    position: relative;
    margin:-8px -8px;
}
/* before will genrate behind the navbar */
#navbar::before{
    content: "";
    background-color: #1d1b1b;
    height:100%;
    width:100%;
    position:absolute;
    z-index: -1;
    
}
#logo img{
    width:70px;
    height:40px;
    border-radius: 42px;
    margin-top:7px;
    /* filter: invert(); */
}
#logo{
    /* border: 2px solid red; */
    margin:2px 4px;
}
#navbar ul{
    display:flex;
}
#navbar ul li{
    list-style: none;
}
#navbar ul li a{
    font-size:1.1rem;
    text-decoration: none;
    color:rgb(255, 246, 246);
    padding:2px 42px;
    border-radius: 12px;
}
#navbar ul li a:hover{
    background-color: rgb(109, 96, 96);
}

/* SECTION CSS */
#section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border :2px solid black;  */
 padding: 2px 200px;
 height:353px;

 
    
}
#section::before{
    content: "";
    background: url('../images/bgimg.jpg')  center center/cover;
    height:65%;
    width:100%;
    position:absolute;
    z-index: -1;
    opacity: 0.6;
    
}
.primary-heading{
    font-size :3.1rem;
    text-align:center;
    line-height: 1px;
    margin-top: 77px;
}
#section p{
    font-size :1.1rem;
    text-align:center;
    padding :8px;
}
.btn{
    /* border:2px solid red; */
    font-size: 1.1rem;
    background-color: #ff2e2efa;
    padding: 8px 10px;
    border-radius: 12px;
    color:white;
    cursor:pointer;
}
.btn:hover{
    background-color: black;
}

/* services section  */
.services-section{
    /* border:2px solid red; */
    margin-top: 50px;
}
.servicesheading{
    text-align: center;
    margin-top: 41px;
    font-size: 2.8rem;
    font-family: 'Rokkitt', serif;
}

#services{
    display:flex;
    /* border:2px solid red; */

}
.box{
    border :2px solid rgb(128, 12, 12);
    margin:2px;
    cursor: pointer;
    background-color:#ebe5de;
    border-radius:45px;
}
.box:hover{
    background-color: rgb(221, 60, 60);
    color:white;
}
#services .box img {
    height: 222px;
    width: 188px;
    margin: auto;
    display: block;
}
.box h2{
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size:2.1rem;
}
.box p{
    text-align: center;
    padding: 5px 16px;
}

/* CLIENTS SECTION */
.contav{
    display: flex;
    justify-content: center;
}
.avbox img{
    width: 179px;
    height: 165px;
}
.avbox{
    margin:76px;
}
#available h2{
text-align: center;
font-family: 'Rokkitt', serif;
font-size:2.5rem;
color:black;
font-family: 'Baloo Bhai 2', cursive;
}
#available::before{   
    content: "";
    background: url('../images/bg2.jpg')  center center/cover;
    height:69%;
    width:100%;
    position:absolute;
    z-index: -1;
    opacity: 0.4;
      


}

